<h1>Showing a Todo</h1>

<p>
    name: <%= @todo.name %>
</p>

<p>
    Description: <%= @todo.description %>
</p>

<%= link_to "Edit Todo", edit_todo_path(@todo) %> | 
<%= link_to "Todo Listing", todos_path %> 